[project]
	description = The open source version of reddit.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/David Pursehouse (davidpursehouse)
[access "refs/for/refs/*"]
	read = group user/David Pursehouse (davidpursehouse)
	push = group user/David Pursehouse (davidpursehouse)
	label-Code-Review = -2..+2 group user/David Pursehouse (davidpursehouse)
	label-Verified = -1..+1 group user/David Pursehouse (davidpursehouse)
	rebase = group user/David Pursehouse (davidpursehouse)
	removeReviewer = group user/David Pursehouse (davidpursehouse)
	submit = group user/David Pursehouse (davidpursehouse)
[access "refs/heads/*"]
	read = group user/David Pursehouse (davidpursehouse)
	create = group user/David Pursehouse (davidpursehouse)
	push = +force group user/David Pursehouse (davidpursehouse)
	pushMerge = group user/David Pursehouse (davidpursehouse)
[access "refs/tags/*"]
	push = group user/David Pursehouse (davidpursehouse)
	push = +force group user/David Pursehouse (davidpursehouse)
